site_name: ruPrompts
repo_url: https://github.com/sberbank-ai/ru-prompts
repo_name: sberbank-ai/ru-prompts
edit_uri: ""
theme:
  name: material
  palette:
    primary: white
    accent: blue
  font:
    # text: Lato
    text: Roboto Slab
    code: Fira Code
    # code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  favicon: "null" # static/internals.png
  logo: "null" # static/internals.png
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      custom_templates: templates
      watch:
        - ../ruprompts
      handlers:
        python:
          rendering:
            show_signature_annotations: true
            show_root_heading: true
            show_bases: false
            # show_root_members_full_path: true
          import:
            - https://docs.python.org/3/objects.inv
            # - https://huggingface.co/transformers/objects.inv
            - https://pytorch.org/docs/stable/objects.inv
            - https://omegaconf.readthedocs.io/en/2.0_branch/objects.inv
  - mkdocs-simple-hooks:
      hooks:
        on_config: "hooks:on_config"
extra:
  analytics:
    provider: google
    property: "{GA_TOKEN}"

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

nav:
  - Home: "index.md"
  - Docs:
      - Getting Started:
        - Quick Start: "getting-started/quick-start.md"
        - Installation: "getting-started/installation.md"
        # - Walkthrough: "getting-started/walkthrough.md"
      #   - How It Works: "getting-started/how-it-works.md"
      # - User Guide:
      #   - Training: "guide/training.md"
      #   - Uploading to HF Hub: "guide/hub.md"
      #   - Inference: "guide/inference.md"
      - Python API:
        - Prompt: "api/prompt.md"
        - Prompt Format: "api/prompt_format.md"
        - Prompt Provider: "api/prompt_provider.md"
        - Callbacks: "api/callbacks.md"
        - Pipelines: "api/pipelines.md"
        - Preprocessing: "api/preprocessing.md"
      - Hydra API:
        - "hydra/index.md"
        - Config Structure: "hydra/config.md"
        - Using CLI: "hydra/cli.md"
  - Tutorials: "tutorials.md"
  - Pretrained Prompts:
    - "pretrained/index.md"
